body {
    overflow: hidden;
}

.body {
    margin-left: 128px;
}

.vertical-menu {
    width: max-content;
    padding-bottom: 100vh;
    background-color: #eee;
    position: absolute;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

a,
p {
    text-align: center;
}

em {
    font-size: 36px;
}

h1,
h2,
h3 {
    text-align: center;
}

.window {
    margin: 32px 256px;
    padding: 0px 16px;
    background-color: #eee;
}